build/msvc*/obj
build/msvc*/Debug
build/msvc*/Release
build/Xcode/build
*.ncb
*.suo
*.vcproj.*.user
*.mode1v3
*.mode2v3
*.pbxuser
xcuserdata
xcshareddata
nbproject

*.kdev*
Doxyfile
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
*.cmake.user
CMakeLists.txt.user*

# CLion JetBrains IDE
# It just uses CMake - don't add the temporary stuff.
/.idea

/build
bin
*~
.*.swp
*.build
*.o
*-build
build-*

*.idb
*.pdb
*.pyc
*.log
*.dSYM

configure-stamp
build-stamp
PrecompiledHeader.*

distrib
